
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    width: 100%;
    position: absolute;
}

#navbar {
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    background-color: transparent;
}

#navbar .logoname h2 {
    padding-bottom: 18px; 
    text-transform: uppercase;
}

.navbar-sticky {
    background-color: #000; 
    height: 90px; 
}

#navbar .logo a img {
    height: 120px;
    width: auto; 
}

#navbar .navbarinfo {
    margin-right: 20px; 
}

#navbar .navbarinfo ul {
    display: flex;
    list-style: none;
}

#navbar .navbarinfo ul li {
    margin-right: 30px; 
}

#navbar .navbarinfo ul a {
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: 19px;
}

#navbar .inputform {
    flex-grow: 1;
    margin: 0 5px 0 240px;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    display: flex;
}

#navbar .inputform input {
    width: calc(100% - 40px);
    height: 40px;
    padding: 5px;
    border: 2px solid #000000;
    border-radius: 20px;
    background: transparent; 
    /* color: white; */
}

#navbar .inputform button {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    height: 40px;
    width: 40px;
    border: 1px solid black;
    border-radius: 20px;
    background: black;
    color: white;
    cursor: pointer;
    margin-right:30px;
}

#navbar .inputform button i {
    font-size: 20px; 
}

#navbar .inputform input::placeholder {
    color: rgb(0, 0, 0); 
    padding-left: 5px;
    font-size: 15px;
}

#herosection video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    /* position: fixed; */
    top: 0;
    left: 0;
}



#herosection {
    position: relative;
}

#herosection video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#page2 {
    position: relative;
    background-color: rgb(141, 219, 52);
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#page2 .pagephoto {
    width: 50%; 
}

#page2 .pagephoto img {
    width: 100%;
    height: auto; 
    border-radius: 10px; 
}

#page2 .text {
    width: 45%; 
}

#page2 .text h2 {
    font-size: 24px;
    color: #2e3735; 
}

#page2 .text p {
    font-size: 16px;
    color: #576b68; 
}

#blog {
    display: flex;
    justify-content: space-around;
    padding: 50px; 
}

.card {
    position: relative; 
    width: 250px;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.card:hover {
    transform: scale(1.05); 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
}

.card img {
    width: 100%;
    height: auto;
}

.card h3 {
    padding: 15px;
    margin: 0;
    color: #333;
    background-color: rgb(141, 219, 52); 
    color: #fff; 
    text-align: center;
}

.card p {
    padding: 15px;
    margin: 0;
    color: #555;
}

.card:hover p {
    position: relative;
    z-index: 1;
    background: rgba(255, 255, 255, 0.8); 
    padding: 15px;
    margin: -50px 0 0; 
    border-radius: 0 0 10px 10px; 
}

.card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(52, 152, 219, 0); 
    z-index: -1;
    transition: background 0.3s ease-in-out; 
}

.card:hover::before {
    background: rgba(138, 219, 52, 0.5); 
}

*{
    padding: 0;margin: 0;
    box-sizing: border-box;
}

#inputform{
    margin:20px;
    height: 75vh;
    width:90%;
    border:2px black solid;
    /* overflow-x: hidden; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#inputform .card {
    background-size: cover;
    height: 200px;
    width:200px;
    border: 2px solid black;
    border-radius: 5px;

}


.carousel-container {
    width: 70%;
    margin: auto;
    overflow: hidden;
}

.carousel-wrapper {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-item {
    min-width: 100%;
    box-sizing: border-box;
}

img {
    width: 100%;
    height: auto;
    display: block;
}

.carousel-nav {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.nav-button {
    background-color: #4caf50;
    color: #fff;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 0 5px;
}


* {
    margin: 0;
    padding: 0;
  }
  a {
    color: #fff;
    text-decoration: none;
  }
  .pg-footer {
    font-family: 'Roboto', sans-serif;
  }
  
  
  .footer {
      background-color: #004658;
      color: #fff;
      /* height: 70px;
      width: 100%; */
  }
  .footer-wave-svg {
      background-color: transparent;
      display: block;
      height: 30px;
      position: relative;
      top: -1px;
      width: 100%;
  }
  .footer-wave-path {
      fill: hsl(0, 0%, 100%);
  }
  
  .footer-content {
      margin-left: auto;
      margin-right: auto;
      max-width: 1230px;
      padding: 40px 15px 450px;
      position: relative;
  }
  
  .footer-content-column {
      box-sizing: border-box;
      float: left;
      padding-left: 15px;
      padding-right: 15px;
      width: 100%;
      color: #fff;
  }
  
  .footer-content-column ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  .footer-logo-link {
      display: inline-block;
  }
  .footer-menu {
      margin-top: 30px;
  }
  
  .footer-menu-name {
      color: #fffff2;
      font-size: 15px;
      font-weight: 900;
      letter-spacing: .1em;
      line-height: 18px;
      margin-bottom: 0;
      margin-top: 0;
      text-transform: uppercase;
  }
  .footer-menu-list {
      list-style: none;
      margin-bottom: 0;
      margin-top: 10px;
      padding-left: 0;
  }
  .footer-menu-list li {
      margin-top: 5px;
  }
  
  .footer-call-to-action-description {
      color: #fffff2;
      margin-top: 10px;
      margin-bottom: 20px;
  }
  .footer-call-to-action-button:hover {
      background-color: #fffff2;
      color: #00bef0;
  }
  .button:last-of-type {
      margin-right: 0;
  }
  .footer-call-to-action-button {
      background-color: #027b9a;
      border-radius: 21px;
      color: #fffff2;
      display: inline-block;
      font-size: 11px;
      font-weight: 900;
      letter-spacing: .1em;
      line-height: 18px;
      padding: 12px 30px;
      margin: 0 10px 10px 0;
      text-decoration: none;
      text-transform: uppercase;
      transition: background-color .2s;
      cursor: pointer;
      position: relative;
  }
  .footer-call-to-action {
      margin-top: 30px;
  }
  .footer-call-to-action-title {
      color: #fffff2;
      font-size: 14px;
      font-weight: 900;
      letter-spacing: .1em;
      line-height: 18px;
      margin-bottom: 0;
      margin-top: 0;
      text-transform: uppercase;
  }
  .footer-call-to-action-link-wrapper {
      margin-bottom: 0;
      margin-top: 10px;
      color: #fff;
      text-decoration: none;
  }
  .footer-call-to-action-link-wrapper a {
      color: #fff;
      text-decoration: none;
  }
  
  .footer-social-links {
      bottom: 0;
      height: 54px;
      position: absolute;
      right: 0;
      width: 236px;
  }
  
  .footer-social-amoeba-svg {
      height: 54px;
      left: 0;
      display: block;
      position: absolute;
      top: 0;
      width: 236px;
  }
  
  .footer-social-amoeba-path {
      fill: #027b9a;
  }
  
  .footer-social-link.linkedin {
      height: 26px;
      left: 3px;
      top: 11px;
      width: 26px;
  }
  
  .footer-social-link {
      display: block;
      padding: 10px;
      position: absolute;
  }
  
  .hidden-link-text {
      position: absolute;
      clip: rect(1px 1px 1px 1px);
      clip: rect(1px,1px,1px,1px);
      -webkit-clip-path: inset(0px 0px 99.9% 99.9%);
      clip-path: inset(0px 0px 99.9% 99.9%);
      overflow: hidden;
      height: 1px;
      width: 1px;
      padding: 0;
      border: 0;
      top: 50%;
  }
  
  .footer-social-icon-svg {
      display: block;
  }
  
  .footer-social-icon-path {
      fill: #fffff2;
      transition: fill .2s;
  }
  
  .footer-social-link.twitter {
      height: 28px;
      left: 62px;
      top: 3px;
      width: 28px;
  }
  
  .footer-social-link.youtube {
      height: 24px;
      left: 123px;
      top: 12px;
      width: 24px;
  }
  
  .footer-social-link.github {
      height: 34px;
      left: 172px;
      top: 7px;
      width: 34px;
  }
  
  .footer-copyright {
      background-color: #027b9a;
      color: #fff;
      padding: 15px 30px;
    text-align: center;
  }
  
  .footer-copyright-wrapper {
      margin-left: auto;
      margin-right: auto;
      max-width: 1200px;
  }
  
  .footer-copyright-text {
    color: #fff;
      font-size: 13px;
      font-weight: 400;
      line-height: 18px;
      margin-bottom: 0;
      margin-top: 0;
  }
  
  .footer-copyright-link {
      color: #fff;
      text-decoration: none;
  }
  
  @media (min-width:1281px) { 
    .footer-content {
        margin-left: auto;
        margin-right: auto;
        max-width: 1230px;
        padding: 40px 15px 1050px;
        position: relative;
  }
}
  
  
    .footer-wave-svg {
        height: 50px;
    }
  
    .footer-content-column {
        width: 24.99%;
    }
  
  @media (min-width: 568px) {
    footer-content-column {
        width: 49.99%;
    }
  }
/*it also removed*/

#cursor {
    height: 20px;
    width: 20px;
    background-color: #77b120;
    border-radius: 50%;
    position: fixed;
    z-index: 99;
    transition: all linear 0.1s;
}

#cursor-blur {
    height: 500px;
    width: 500px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    position: fixed;
    filter: blur(40px);
    z-index: 9;
    transition: all linear 0.4s;
}


#scroller {
    white-space: nowrap;
    overflow-x: hidden; 
    overflow-y: hidden;
    position: fixed; 
    z-index: 10;
}



  #scroller::-webkit-scrollbar {
    display: none;
  }
  #scroller-in {
    display: inline-block;
    white-space: nowrap;
    animation-name: scroll;
    animation-duration: 40s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }

  @keyframes scroll {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }
